<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Vue Mastery</title>
  <!-- Import Styles -->
  <link rel="stylesheet" href="./assets/styles.css" />
  <!-- Import Vue.js -->
  <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
  <div id="app">
    <div class="nav-bar"></div>
    <div class="cart">Cart({{ cart }})</div>
    <div class="product-display">
      <div class="product-container">
        <div class="product-image">
          <img :src="product.image" alt="product-image">
        </div>
        <div class="product-info">
          <h1>{{ product.name }}</h1>
          <span>Details:</span>
          <ul>
            <li v-for="detail in product.details">
              {{ detail.percent }} % {{ detail.material }}
            </li>
          </ul>
          <div v-for="variant in product.variants" :key="variant.id">
            {{variant.color}}
          </div>  
          <p v-if="product.inventory > 10">In Stock</p>
          <p v-else-if="product.inventory <= 10 && product.inventory > 0"> Almost out of stock</p>
          <p v-else>Out of Stock</p>

          <button class="button">Add to Cart</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Import App -->
  <script src="./main.js"></script>
  <!--Mount App -->

  <script>
    const mountedApp = app.mount('#app')
  </script>
</body>

</html>